@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*,*::after,*::before {
  box-sizing: border-box;
  font-family: 'DM-sans', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

body{
  margin: 0;
}

/* Hero */
.hero-imagem{
  height: 60vh;
  width: 100vw;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), 
  rgba(0, 0, 0, 0.4)), 
  url("img/bgadega.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  
}

.content-hero{
  color: rgb(255, 255, 255);
  margin-top: 10vh;
}

.hero-title{
  font-weight: 700;
}

#btn-produtos{
  margin-top: 5vh;
  font-weight: 700;
  font-size: clamp(16px, 5vw, 16px);
}

.hero-btn:hover {
  color: #ffffff;
  background-color: black;
}

/* End Hero */


/* Section adegas divisor*/
.adegas-divisor{
  background-color: #033649;
  width:  100vw;
  height: 35vh;
  padding-top:50px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.title-adegas {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}

.paragrafo-adegas-divisor {
  width: 300px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

}
/* End Section adegas divisor*/

/* Section nossas adegas */
.adegas{
  background-color: #033649;
  width:  100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardt {
  width: 20vw;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  text-align: center;
}

.iconify{
  width: 45px;
  height: 45px;
}

/*Column 1*/
.column1 {
  display: block;
  flex-direction: column;
  margin: 0;
  width: 20vw
}

/* Card 1*/
.card1 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card1 p {
  width: 200px;
}
/* End Card 1*/

/*Card 2*/
.card2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card2 p {
  width: 200px;
}
/* End Card 2*/

/*End Column 1*/

/*  Card Imagem principal*/
.img-adega-principal {
  width: 190px;
  height: 500px ;
  margin-left: auto;
  margin-right: auto;
  display:flex ;
}
/* End Card Imagem principal*/

/*Column 3*/
.column3 {
  display: block;
  flex-direction: column;
  margin: 0;
  width: 20vw;
}

/* Card 3*/
.card3 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card3 p {
  width: 200px;
}
/* End Card 3*/

/* Card 4*/
.card4 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card4 p {
  width: 200px;
}

/* End Card 4*/



@media screen and (max-width:992px) {
  .adegas{
    background-color: #033649;
    width:  100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  
  }

  .cardt {
    width: 50vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
  }

  .img-adega-principal {
    width: 100px;
    height: 250px ;
    margin-left: auto;
    margin-right: auto;
  }

  .column1 {
    display: flex;
    flex-direction: row;
    width: 20vw
  }

  .column2 {
    display: flex;
    width: 20vw
  }

  .column3 {
    display: flex;
    flex-direction: row;
    width: 20vw
  }
  
}

@media screen and (max-width:700px) {
  .adegas{
    background-color: #033649;
    width:  100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .adegas-divisor{
    width:  100vw;
    height: 35vh;
    display: flex;
  }

  .img-adega-principal {
    width: 100px;
    height: 250px ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .cardt {
    width: 70vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
  }

  .iconify{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .column1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .column2 {
    display: flex;
    width: 20vw
  }

  .column3 {
    display: flex;
    flex-direction: column;
    width: 20vw
  }
}
/* End Section Nossas adegas */

/**/

/* Section modelos divisor*/
.modelos-divisor{
  background-color: #A5A5A5;
  width:  100vw;
  height: 15vh;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top:50px;
  
  
}

.title-modelos {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
  color:black;
}
/* End Section modelos divisor*/

/* Section modelos*/
.modelos{
  background-color: #A5A5A5;
  width:  100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-1,
.model-2,
.model-3 {
  height: 40vh;
  margin-right: 0;
  margin-left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.adega1 {
  margin-left: 20vw;
}

.paragrafo-1 {
  margin-left: 20vw;

}

.adega3 {
  margin-right: 20vw;
}

.paragrafo-3 {
  margin-right: 20vw;
}

.paragrafos {
  font-size: 21px;
  font-weight: 700;
  color: black;
  margin-top:2vh;
}

#btn-modelos { 
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: clamp(16px, 5vw, 16px);
  display: flex;
  justify-content: center;
}

/* End Section modelos*/

@media screen and (max-width:992px) {
  .modelos {
    width: 100vw;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
  }

  .model-1,
  .model-2,
  .model-3 {
    height: 30vh;
  }

  .adega1 {
    margin-left: 0;
  }
  
  .paragrafo-1 {
    margin-left: 0;
  }
  
  .adega3 {
    margin-right: 0;
  }
  
  .paragrafo-3 {
    margin-right: 0;
  }
}

@media screen and (max-width:770px) {
  .modelos {
    width: 100vw;
    height: 150%;

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
  }
  
  .model-1,
  .model-2,
  .model-3 {
    display: flex;
    flex-direction: column;
  }
}

/*Viloes do Vinho Divisor*/
.viloes-divisor{
  background-color: #C8C19C;
  width:  100vw;
  height: 20vh;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.title-viloes {
  color: black;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}

.title2-viloes {
  color: black;
  font-weight: 700;
  margin-bottom: 5vh;
  text-align: left;
}

.paragrafo-viloes-divisor {
  color: black;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}
/*End Viloes do Vinho Divisor*/

/*Viloes do Vinho */

.viloes {
  width: 100vw;
  height: 60vh;
  background-color: #C8C19C;
}

.carousel {
  width: 100vw;
  height: 60vh;
}

.carousel-inner {
  height: 60vh;
  display: flex;
}

.slide-image {
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: 150px;
  margin-top: 15vh;
  
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-bottom: 10vh;
}

.carousel-caption p {
  color: black;
  text-align: left;
}

@media screen and (max-width:992px) {
  .viloes-divisor{
    width:  100vw;
    height: 15vh;
    padding-top: 5vh;
  }

  .viloes {
    width: 100vw;
    height: 55vh;

    margin-left: auto;
    margin-right: auto;
  }

  .slide-image {
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: 5vw;
    margin-top: 23vh;
  }

  .carousel-caption {
    width: 40vw;
    margin-bottom: 10vh;
  }
}

@media screen and (max-width:770px) {
  .viloes-divisor{
    width:  100vw;
    height: 30vh;
  }

  .viloes {
    width: 100vw;
    height: 80vh;

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
  }

  .slide-image {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55vh;
  }

  .carousel{
    height: 80vh;
  }

  .carousel-inner {
    height: 80vh;
    padding-bottom: 5vh;
  }

  .carousel-caption {
    width: 70vw;
    display: flex;
    margin-bottom: 15vh;
  }

  .carousel-caption p {
    text-align: left;
  } 
}
/*Viloes do Vinho */


/* Section adegas divisor*/
.projetos{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url("img/testebg9.png"); */

  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  /* width:  100vw; */
  height: 100vh;
  font-weight: 500;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding-top: 5vh;
}

.content-projetos {
  height: 90vh;
}

.title-projetos {
  font-weight: 500;
  color: #eeeeee;
}

.paragrafo-projetos-divisor {
  width: 25vw;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #eeeeee;
}

/**/
.img-fluid{
  /* max-width: 80vw; */
  max-height: 50vh;
  margin-top: 5vh;
  vertical-align:bottom;
}

#btn-projetos{
  /* margin-top: 5vh; */
  font-weight: 700;
  font-size: clamp(16px, 5vw, 16px);

  margin-top: 5vh;
}

@media screen and (max-width:992px) {
  .projetos{
    height: 100vh;
    padding-top: 0;
    /* margin-bottom: 5vh; */
  }

  .paragrafo-projetos-divisor {
    width: 60vw;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
  }

}

@media screen and (max-width:770px) {
  .projetos{
    height: 110vh;
    margin-bottom: 0;
  }

  .paragrafo-projetos-divisor {
    width: 70vw;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
  }

}
/* End Section adegas divisor*/

/**/

/* Section contato divisor*/
.contato-divisor {
  background-color: #036564;
  width:  100vw;
  height: 15vh;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
/* End Section contato divisor*/

/* Section contato */

.contato{
  background-color: #036564;
  width:  100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dados {
  /* background-color: #A5A5A5; */
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-color: #ffffff;
}

.contatos {
  /* background-color: #aa1e1e; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone,
.location,
.whatsapp {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 16px;
}

.icon {
  width: 25px;
  height: 25px;
}

.dados p {
  padding-left: 5px;
}

.redes {
  /* background-color: blue; */
  margin-top: 5vh;
  
}

.icon-rede {
  display:inline-block;
  justify-content: center;
  margin-right: 5px;
}

.icons-rede {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map {
  /* background-color: #aa1e1e; */
  width: 100vw;
  height: 60vh;

}

.frame {
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:992px) {
  .contato-divisor{
    height: 15vh;
    margin-top: 0px;
  }

  .contato{
    height: 80vh;
  }

  .contato-container {
    height: 80vh;
  }

  .contato-row {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .dados,
  .map {
    height: 25vh;
    margin-bottom: 5vh;
  } 

  .frame {
    margin-top: 0;
  }
  
}

@media screen and (max-width:770px) {
  .contato{
    height: 90vh;
  }

  .contato-container {
    height: 90vh;
  }

  .contato-row {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .dados,
  .map {
    height: 35vh;
    margin-bottom: 5vh;
  } 

  .icon {
    margin: 2px;
  }

  .dados p {
    padding-left: 0px;
  }
}

/* End Section contato */

/**/



/**/
/**/
/**/

/* Hero */
.hero-imagem-vinho{
  height: 50vh;
  width: 100vw;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), 
  rgba(0, 0, 0, 0.4)), 
  url("img/hero-empresa.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  
}

.content-hero{
  color: rgb(255, 255, 255);
  margin-top: 10vh;
}

.hero-title{
  font-weight: 700;
}

/* End Hero */

/*  Section Sobre*/
.sobre{
  height: 100vh;
  background-color: #A5A5A5;
}

.content-sobre {
  height: 100vh;
  padding-top: 10vh;
}

.linha {
  height: 40vh;
}

.paragrafo1 {
  /* background-color: red; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragrafo2 {
  /* background-color: red; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  /* background-color: blue; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img2 {
  /* background-color: blue; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:770px) {
  .sobre{
    height: 180vh;
  }
  
  .content-sobre {
    height: 180vh;
    padding-top: 10vh;
  }
  
  .linha1 {
    margin-bottom: 10vh;
  }

  .linha2 {
    flex-direction: column-reverse;
  }
  
}

/*  End Section Sobre*/


/* Section Hero 2 */
.hero-imagem-campo{
  height: 30vh;
  width: 100vw;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), 
  rgba(0, 0, 0, 0.4)), 
  url("img/campo2.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

/* Section Hero 2 */

/* Section Qualidade*/
.qualidade {
  height: 20vh;
  background-color: #A5A5A5;
  display: flex;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
}

.qualidade p {
  width: 40vw;
  margin: 0 auto;
}
/* End Section Qualidade*/


/* Section Garantias*/
.garantias {
  background-color: #A5A5A5;
  height: 60vh;
}

.container-garantias{
  height: 60vh;
}

.box1,
.box2,
.box3,
.box4 {
  /* background-color: red; */
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.box1 p,
.box2 p,
.box3 p,
.box4 p{
  width: 15vw;
  text-align: center;
  margin-bottom: auto;

}

.box-icon {
  margin-bottom: 3vh;
  width: 60px;
  height: 60px;
}

@media screen and (max-width:992px) {
  .qualidade p {
    width: 70vw;
    margin: 0 auto;
  }

  .garantias,
  .container-garantias{
    height: 80vh;
  }

  .box1, 
  .box2,
  .box3,
  .box4 {
    height: 30vh;
    padding-top: 5vh;
  } 

  .box1 p,
  .box2 p,
  .box3 p,
  .box4 p{
    width: 35vw;
    text-align: center;
  }

  .box-icon {
    margin-bottom: 3vh;
    min-width: 60px;
    min-height: 60px;
  }
  
}
@media screen and (max-width:770px) {
  .qualidade {
    height: 25vh;
  }

  .qualidade p {
    width: 90vw;
    margin: 0 auto;
  }

  .garantias,
  .container-garantias{
    height: 120vh;
  }

  .content-garantias {
    height: 120vh;
  }

  .box1, 
  .box2,
  .box3,
  .box4 {
    height: 30vh;
    padding-top: 5vh;
  } 

  .box1 p,
  .box2 p,
  .box3 p,
  .box4 p{
    width: 90vw;
    text-align: center;
  }

  .box-icon {
    margin-bottom: 3vh;
    min-width: 45px;
    min-height: 45px;
  }
}
/* End Section Garantias*/

/**/
/**/
/**/
/**/

/* Footer Rodapé */
.rodape {
  background-color: #050505;
  color: #ffffff;
  text-align: center;
  height: 7vh;
  padding-top: 15px;

}

@media screen and (max-width:992px) {
  .rodape{
  height: 20vh;
  padding-top: 15px;
  }
}

@media screen and (max-width:770px) {
  .rodape{
  height: 10vh;
  padding-top: 15px;
  }
}

/* End Footer Rodapé */